build-essential
cmake
cppcheck
valgrind
libboost-dev
libboost-filesystem-dev
libcurl4-gnutls-dev
libenet-dev
libgloox-dev
libicu-dev
libminiupnpc-dev
libnvtt-dev
libogg-dev
libopenal-dev
libpng-dev
libsdl2-dev
libvorbis-dev
libxcursor-dev
libxml2-dev
python
subversion
zlib1g-dev
libenet-dev
libboost-system-dev
wx3.0-headers
libwxbase3.0-dev
libwxgtk3.0-dev
libwxbase3.0-0v5
libwxgtk3.0-0v5
libsodium-dev